# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
*.egg
dist/
build/
*.whl

# Virtual environments
.venv/
venv/

# Pipenv
Pipfile.lock

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# macOS
.DS_Store

# Test / Coverage
.pytest_cache/
htmlcov/
.coverage
coverage.xml

# OS
Thumbs.db
